extends ../layout/base.pug

block content 
    section.wholeWrapper 
        section.XX_left 
        section.rsWrapper RS WRAPPER
                div.rsWrapper_col1
                div.rsWrapper_col2
                div.rsWrapper_col3
                div.rsWrapper_col4
                div.rsWrapper_col5
                    div.rsWrapper_col5_col1
                    div.rsWrapper_col5_col2
                div.rsWrapper_col6
        section.XX_rigth 